::selection {
    background: rgb(99, 0, 99);
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.5em;
    height: 0;
}

::-webkit-scrollbar-track {
    background: hsl(120 50% 75% / 1);
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: hsl(120 100% 20% / 1);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
}

body {
    margin-bottom: 70px !important;
}

@media only screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 1em;
    }
}

@media only screen and (max-width: 425px) {
    ::-webkit-scrollbar {
        width: 0.6em;
    }
}

.loading {
    height: 100%;
    width: 100%;    
}

.loading h5 {
    text-align: center;
}